.el-row{
    padding: 0;
    margin: 0;
    /*必须设置vh，不要设置百分比!!!!*/
    height: 100vh;
    display: flex;
    background-color: #fafafa;
    align-items: center;
}

.divider {
    border-left: 2px solid #bdbbbb; /* 设置分割线的宽度和颜色 */
    height: 300px;
}
.infos{
    text-align: center;
}
.el-form-item{
    width: 400px;
}