* {
    margin: 0;
    padding: 0;
}


.layout {
    display: flex;
    height: 100vh;
}

.el-container .el-header .el-col {
    margin-top: 5px;
}


.el-container .el-header{
    background-color: #2d2df1;
}

.el-container .el-main{
    background-color: #FFFFFF;
}

.el-container .el-aside .el-menu {
    width: 200px;
}
