* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.layout {
    display: flex;
    height: 100vh;
}

.el-container .el-header .el-col {
    margin-top: 5px;
}

.el-container .el-aside {
    background-color: #545c64;
}

.el-container .el-header{
    background-color: #2d2df1;
}


.el-container .el-aside .el-menu {
    width: 200px;
}